@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #001029;
}

header {
  width: 100%;
  background-image: linear-gradient(to right, #0E0B8C, #0E0B8C, #0E0B8C, #001029);
}
header > a > img {
  padding: 4px;
  max-width: 170px;
  max-height: 43px;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;;
  color: #E19010;
  font-weight: 900;
  font-size: 1.4rem;
}
header {
  display: flex;
  justify-content: space-between;
}
nav#media > a > img {
  padding: 8px;
  max-width: 30px;
  border-radius: 16px;
}
nav#media > a > img:hover {
  transition: 0.32s;
  box-shadow: inset 0px 0px 20px 0px #e19110a1;
  padding: 8px;
  max-width: 30px;
}
div {
  padding-top: 10%;
  padding-left: 6%;
  float: left;
}
p {
  padding-top: 10px;
  padding-left: 10px;
  max-width: 280px;
  color: white;
}
main > img {
  width: 200px;
  padding-top: 4%;
  padding-right: 28%;
  float: right;
}
section {
  display: inline-block;
  margin: 16px;
  padding-top: 16px;
  padding-left: 16px;
}

section > p {
  max-width: 500px;
}
section > a > img {
  max-width: 150px;
  padding: 20px;
  border: 2px solid #E19010;
  border-radius: 8px;
  margin: 8px;
}